@model Vidly.ViewModel.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table id="movies" class="table table-hover" margin-top: 25px; >
    <thead>
        <tr>
            <th scope="col">Movie</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr class="table-active">
                <th scope="row"><a href="/Movies/Details/@item.Id"> @item.Name</a></th>
                <th scope="row">@item.Genre.Name</th>
            </tr>
        }
    </tbody>
</table> 
