@model IEnumerable<Vidly.Models.Customer>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Customers</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="table-active">
                <th scope="row"><a href="/Customers/Details/@item.Id"> @item.Name</a></th>
                <th scope="row">@item.MembershipType.Name</th>
            </tr>
            }
        </tbody>
    </table> 